h1 {
    background-color: lightpink;
    color:red;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    width:400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    border-radius: 4px;
    box-shadow: 10px 10px 5px grey;
    border: 5px inset rgba(153, 153, 153, 0.25);
}

h1 img {
    margin-top: 10px;
}

table, th, td {
   border: 1px solid black;
   height: 40px;
   width: 900px;
}

th {
  font-size: 24px;
}

.taskName {
  font-size: 24px;
}

 .completeButton {
  display: inline-block;
  height: 40px;
  width: 200px;
   padding: 5px 20px;
   font-size: 24px;
   cursor: pointer;
   text-align: center;
   color: pink;
   background-color: red;
   border-radius: 15px;

}

.deleteButton {
  display: inline-block;
  height: 40px;
  width: 200px;
   padding: 5px 20px;
   font-size: 24px;
   cursor: pointer;
   text-align: center;
   color: pink;
   background-color: red;
   border-radius: 15px;

}

#addTaskInput {
   height: 30px;
   width: 400px;
   font-size: 24px;
}

#addTaskButton {
  display: inline-block;
   padding: 10px 20px;
   font-size: 24px;
   cursor: pointer;
   text-align: center;
   color: red;
   background-color: pink;
   border-radius: 15px;
   box-shadow: 0 9px #999;
 }

 #addTaskButton:hover {background-color: #e78d9d}

 #addTaskButton:active {
   background-color: #e78d9d;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 }

 #taskTable {
   height: 200px;
 }
